![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

## "Niche is Nice! Making a successful indie game."

### TEMA

# un analysis de ventas de videojuegos buscando patrones

### HIPÓTESIS
#### Publicacion de un genero de videojuego tiene correlacion negativa con ventas totales en relacion con la frequencia de publicaciones de ese genero en un periodo de tiempo (semanas -> meses)

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

# Escribe tu hipótesis principal en Markdown
hipotesis_1 = ""

# Escribe más hipótesis si las hubiera en Markdown
# hipotesis_2 = "Games have sales equal to their reviews times 50"
# hipotesis_3 = "Games with high number of positive reviews gain 30% more sales"
# hipotesis_4 = "User reviews matter more than critic reviews"

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [12]:
import pandas as pd
df_1 = pd.DataFrame()
fuente_1 = "vgsales.csv"
df_2 = pd.DataFrame()
fuente_2 = "metacritic_scores.csv"

In [13]:

# guarda en variables los datasets y su fuente
df_1 = pd.read_csv(fuente_1)
#df_1 = pd.DataFrame()
df_2 = pd.read_csv(fuente_2)
# df_3 = pd.DataFrame()
# fuente_3 = ""
# df_4 = pd.DataFrame()
# fuente_4 = ""
# df_5 = pd.DataFrame()
# fuente_5 = ""
# ...

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [19]:
# Primer dataset
df_1.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [20]:
df_1.shape[0]

16598

In [21]:
# Siguiente dataset...
df_2.head()

,Unnamed: 0,Title,Release Date,Score
0,0,1. Baldur's Gate 3,"DEC 8, 2023 • Rated M",99
1,1,2. The Legend of Zelda: Ocarina of Time,"NOV 23, 1998 • Rated E",99
2,2,3. Tony Hawk's Pro Skater 2,"SEP 20, 2000 • Rated T",98
3,3,4. Grand Theft Auto IV,"APR 29, 2008 • Rated M",98
4,4,5. SoulCalibur,"SEP 8, 1999 • Rated T",98

In [22]:
df_2.shape[0]

14826